 .App {
   color: #333;
   background: #fff;
   margin: 2em;
   padding: 0 1em;
   min-height: 20em;
   width: 30em;
   position: relative;
 }
/* a beautiful box-shadow effect: */
.App:before, .App:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.App:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.App > .todoList> li:nth-child(odd){
  background: #eee;
}
.App > .todoList> li:nth-child(even){
  background: transparent;
}